/* Write your global styles here, in PostCSS syntax */

@tailwind base;

html,
body {
  @apply w-full h-full m-0 bg-slate-900 no-scrollbar text-slate-200;
}

@tailwind components;

@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
